#buyPlace
  .sub-price.price-include
    .text Giá sản phẩm
    .sub-price-showing.buy-now
  .shipping-price.price-include
    .text
      | Phí vận chuyển
    .shipping-price-showing.buy-now
      | 50,000 &#x20AB;
  .coupon.price-include
    .text
      | Mã giảm giá
    input.form-control(type='text' placeholder='Nhập mã giảm giá ...')
  .total-price.price-include
    .text
      | Tổng thanh toán
    .total-price-showing.buy-now 